body {
    padding-bottom: 40px;


    background-color: #ffffff;
    color: #4d4d4d;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 150%;
    line-height: 1.9;
    margin: 0 auto;

}

.zf-green {
    color: #68b604;
}

.wasabiLib-header{
    padding-bottom: 60px;
    padding-top:50px;
    font-size: 26px;
    text-align: left;
    color: #747474;
    background-color: #f2f2f2;
    font-size: 22px;
}
.wasabiLib-header h1{
    font-size: 55px;
    color: #4d4d4d;
}
.jumbotron{
    background-color: #f2f2f2;
    margin-top: 0px;
    text-align: center;
    /* background-image: url('http://www.bbcgoodfood.com/sites/bbcgoodfood.com/files/glossary/wasabi.jpg'); */
}

.anchor{
    display: block;
    height: 50px; /*same height as header*/
    margin-top: -50px; /*same height as header*/
    visibility: hidden;
}

/*
.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}
*/

.navbar-brand {
    padding: 10px 20px;
    margin-left: 0px;
    line-height: 30px;
    text-shadow:1px 1px 1px rgba(0,0,0,0.5);font-weight:lighter;color:#000000;

}

.affix {
    position: fixed;
    top: 40px;
}

.wasabi_logo{

}

.lead{
    margin-top: 25px;
}
footer{
    text-align: center;
}

.credits{
    font-size: smaller;
    color: rgba(149, 150, 150, 0.90);
}
#wasabilib.navbar .navbar-brand {
    color: rgb(9, 52, 12);

}
#wasabilib.navbar {
    font-size: 16px;
    background-color: rgba(248, 248, 248, 1);
    border-width: 0px;
    border-radius: 0px;
    background: -webkit-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgb(220, 220, 220) 100%);
    background: linear-gradient(to bottom, rgba(245, 245, 245, 1) 0%, rgb(220, 220, 220) 100%);
    box-shadow: 0 1px 3px rgba(62, 62, 59, 0.80);
}
#wasabilib.navbar .navbar-nav>li>a {
    color: rgba(89, 88, 88, 1);
    background-color: rgba(209, 209, 209, 1);
    background: -webkit-linear-gradient(top, rgba(245, 245, 245, 1) 0%, rgb(220, 220, 220) 100%);
    background: linear-gradient(to bottom, rgba(245, 245, 245, 1) 0%, rgb(220, 220, 220) 100%);
}
#wasabilib.navbar .navbar-nav>li>a:hover,
#wasabilib.navbar .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(245, 245, 245, 1);
    background: -webkit-linear-gradient(top, rgb(242, 242, 242) 0%, rgba(245, 245, 245, 1) 100%);
    background: linear-gradient(to bottom, rgb(242, 242, 242) 0%, rgba(245, 245, 245, 1) 100%);



}
#wasabilib.navbar .navbar-nav>.active>a,
#wasabilib.navbar .navbar-nav>.active>a:hover,
#wasabilib.navbar .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(245, 245, 245, 1);
    background: -webkit-linear-gradient(top, rgba(212, 212, 212, 1) 0%, rgba(245, 245, 245, 1) 100%);
    background: linear-gradient(to bottom, rgba(212, 212, 212, 1) 0%, rgba(245, 245, 245, 1) 100%);
}
#wasabilib.navbar .navbar-toggle {
    border-color: #f0f0f0;
}
#wasabilib.navbar .navbar-toggle:hover,
#wasabilib.navbar .navbar-toggle:focus {
    background-color: #f0f0f0;
}
#wasabilib.navbar .navbar-toggle .icon-bar {
    background-color: #f0f0f0;
}
#wasabilib.navbar .navbar-toggle:hover .icon-bar,
#wasabilib.navbar .navbar-toggle:focus .icon-bar {
    background-color: #f8f8f8;
}


@media (min-width: 768px) {
    .wasabilib-sidebar {
        padding-left: 20px
    }
}

.wasabilib-sidenav {
    margin-top: 20px;
    margin-bottom: 20px;
    heigth: 594px;
    width: 304px;
}

.wasabilib-sidebar .nav > li > a {
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #999
}

.wasabilib-sidebar .nav > li > a:hover, .wasabilib-sidebar .nav > li > a:focus {
    padding-left: 19px;
    color: #107FC9;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #107FC9
}

.wasabilib-sidebar .nav > .active > a, .wasabilib-sidebar .nav > .active:hover > a, .wasabilib-sidebar .nav > .active:focus > a {
    padding-left: 18px;
    font-weight: 700;
    color: #107FC9;
    background-color: transparent;
    border-left: 2px solid #107FC9
}

.wasabilib-sidebar .nav .nav {

    padding-bottom: 10px
}

.wasabilib-sidebar .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 400
}

.wasabilib-sidebar .nav .nav > li > a:hover, .wasabilib-sidebar .nav .nav > li > a:focus {
    padding-left: 29px
}

.wasabilib-sidebar .nav .nav > .active > a, .wasabilib-sidebar .nav .nav > .active:hover > a, .wasabilib-sidebar .nav .nav > .active:focus > a {
    padding-left: 28px;
    font-weight: 500
}
.back-to-top{
    padding: 4px 10px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 500;
    color: #999
}
.btn-outline {
    color: #555555;
    background-color: transparent;
    border-color:  #4f7111;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
    color: #555555;
    background-color: #83B719;
    border-color: #4f7111;
}

.panel-footer{
    background-color: #ffffff;
}
.panel-body.same-height{
    min-height: 260px;
}



/*For the examples*/
.red-standard-modal .modal-header{
    color: #fff;
    background-color: #DB4A39;
    margin: 4px -29px 16px -29px;
    padding: 3px 10px 6px 12px;
    font-size: 100%;
    line-height: 1.2;
    position: relative;
    border-bottom: none;
    box-shadow: 0 1px 2px #5e5e61;
}

.red-standard-modal .modal-header:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: 0px;
    top: 100%;
    border-width: 3px 7px;
    border-style: solid;
    border-color: #d2322d transparent transparent #d2322d;
}
.red-standard-modal .modal-header:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    top: 100%;
    border-width: 3px 7px;
    border-style: solid;
    border-color: #d2322d #d2322d transparent transparent;
}

.black-standard-modal .modal-header{
    color: #fff;
    background-color: #000000;
    margin: 4px -29px 16px -29px;
    padding: 3px 10px 6px 12px;
    font-size: 100%;
    line-height: 1.2;
    position: relative;
    border-bottom: none;
    box-shadow: 0 1px 2px #5e5e61;
}

.black-standard-modal .modal-header:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: 0px;
    top: 100%;
    border-width: 3px 7px;
    border-style: solid;
    border-color: #000000 transparent transparent #000000;
}
.black-standard-modal .modal-header:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    top: 100%;
    border-width: 3px 7px;
    border-style: solid;
    border-color: #000000 #000000 transparent transparent;
}

/*animations*/
.modal.slow-fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 1.0s ease-out;
    -moz-transition: -moz-transform 1.0s ease-out;
    -o-transition: -o-transform 1.0s ease-out;
    transition: transform 1.0s ease-out;
}

.modal.fast-fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.15s ease-out;
    -moz-transition: -moz-transform 0.15s ease-out;
    -o-transition: -o-transform 0.15s ease-out;
    transition: transform 0.15s ease-out;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}

.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}